body{
  font-family: Ebrima, Arial, Helvetica, sans-serif;
  color: #086FA1;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h1,h2{
  font-family: Dokchampa, Arial, Helvetica, sans-serif;
  color: #034769;
  text-align:center;
}

h3{
  color: #235079;
}

#menu li{
  display: inline;
}

#menu{
  margin-top: 10px;
}

.banner{
  background-image: url("banner.jpg");
  background-repeat: no-repeat;
  color: white; 
}

#topbanner{
  padding-left: 100px;
  padding-top: 75px;
}

#btmbanner{
  padding-top: 100px;
}

.hero{
  font-size: 45pt;
}

#hero_sub{
  font-size: 20pt;
  color: #e8e8e8;
}

#hero_btm{
  font-size: 55pt;
}  

.section{
  height: 390px;
  padding-bottom: 30px;
}

#section2{
  background-color:#E6EFF2;
  padding-top: 20px;
  margin-bottom: -30px;
}

.section_title{
  font-size: 120%;
}
  
.float_left{
  float: left;
}

.float_right{
  float: right;
}

.clear{
  clear: both;
}

.center{
  text-align: center;
}

.callout {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
}

.small_text{
  padding-left:30px;
}

.name{
  margin-right: 10px;
  margin-top: 20px;
}
